<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Pipeline</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<br></br>
	<div id="container" class="container">
		<img src="images/kayak.png" width="250px" align="left" /> <img
			src="images/logoRoma3.png" width="150px" align="right" /> <br /> <br />
		<br></br> <br></br>
		<div align="right">
			You are logged in as <a href="/userPage"><span
				sec:authentication="name"></span></a><br> <a href="/logout">
				logout</a>
		</div>
		<div align="left">
			<a href="/kayakHome"> << back to home </a>
		</div>
			<div align="left" sec:authorize="hasRole('ROLE_ADMIN')">
			<a href="/management"> << back to Kayak Management </a>
		</div>
		<hr></hr>
		
		PipeName :<div th:text="${pipe.name}"></div>
		
		Links: <br><br>
		<table>
			<tr th:each="l,iterStat : ${linkListStamp}">
				<td style="padding:0 15px 0 15px;" th:text="${l}" ></td>
			</tr>
		</table>
		
		</div>
		
		</body>
		</html>
		