<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Profile</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<br></br>
	<div id="container" class="container">
		<img src="images/kayak.png" width="250px" align="left" /> <img
			src="images/logoRoma3.png" width="150px" align="right" /> <br /> <br />
		<br></br> <br></br>
		<div align="right">
			You are logged in as <a href="/userPage"><span
				sec:authentication="name"></span></a><br> <a href="/logout">
				logout</a>
		</div>
		<div align="left">
			<a href="/kayakHome"> << back to home </a>
		</div>
		<hr></hr>
		<br></br> Profile: <br></br> Username : <span
			th:text="${user.username}" /></span><br></br> Skills: <br> <br>
		<table>
			<tr th:each="skill,iterStat : ${user.skills}">
				<td style="padding: 0 15px 0 15px;" th:text="${skill.name}"></td>
				<td>:</td>
				<td style="padding: 0 15px 0 15px;" th:text="${skill.value}"></td>
			</tr>
		</table>
		<hr>

		<form name="f" th:action="@{/updateSkills}" method="post">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon"> Skill: </span> <input type="text"
							class="form-control" aria-label="..." id="skill1" name="skill1">
					</div>
					<!-- /input-group -->
				</div>
				<!-- /.col-lg-6 -->


				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon"> Value: </span> <input type="text"
							class="form-control" aria-label="..." id="value1" name="value1">
					</div>
					<!-- /input-group -->
				</div>
				<!-- /.col-lg-6 -->

				<br> <br> <br><input type="submit" class="btn btn-default"
					value="Update Skills">


			</div>
		</form>
	</div>


	<div class="panel-footer" align="center"
		style="position: fixed; bottom: 0; width: 100%;">
		<font style="color: #111">Copyright @2017 <a
			href="http://mysite.com/">mysite.com</a>, All Rights Reserved.
		</font>
	</div>

</body>
</html>